<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <section name="imageSaving" type="MusicExplorer.Old.Config.ImageSavingConfigurationSection, MusicExplorer.Old"/>
    <section name="musicCollection" type="MusicExplorer.Old.Config.MusicCollectionConfigurationSection, MusicExplorer.Old"/>
  </configSections>

  <imageSaving
    folder="E:\Проекты\music-explorer\WIMP images"
    format="[?artist] - [?album] [[?albumId]]"
    strategy="Rewrite" />

  <musicCollection fileNameFormat="[?artist] - [?album] - [?tracknumber] - [?title]">
    <folders>
      <folder path="\\home-sweet-home\music\Новая музыка для добавления в медиатеку\Новые песни в плеер"/>
      <folder path="\\home-sweet-home\music\Медиатека iPod"/>
    </folders>
  </musicCollection>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="MusicExplorer"/>
    </extensions>
    <targets>
      <target xsi:type="File" name="logfile" layout="${longdate} ${level}: ${message}" encoding="UTF-8" fileName="MusicExplorer.log"/>
    </targets>
    <rules>
      <logger name="*" minLevel="Debug" writeTo="logfile"/>
    </rules>
  </nlog>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
